---
name: Check Them Vim Files

on: # yamllint disable-line
  push:
  pull_request:
    branches: [$default-branch]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Linting
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.x"
      - name: Install Vint
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install --upgrade vim-vint
      - name: Vinting code
        run: vint --verbose --stat $(find . -type f -name '*.vim')
