---
name: Check Them Vim Files

on: # yamllint disable-line
  push:
  pull_request:
    branches: [$default-branch]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Linting
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.x"
      - name: Install Vint
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install --upgrade vim-vint
      - name: Vinting code
        run: vint --verbose --stat $(find . -type f -name '*.vim')
